body {
  margin: 1cm auto;
  width: 21cm;
  background-color: #fff;
  font-size: 12pt;
  font-family: "Source Sans Pro", Helvetica, "ST Heiti", sans-serif;
  -webkit-font-smoothing: subpixel-antialiased;
  color: #0d0d10;
}

* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

hr {
  clear: both;
  border: none;
  border-bottom: 1px solid #ddd;
  padding-top: 0.75em;
  margin: 0 0 0.75em 0;
}

h1 {
  font-size: 1.5em;
  font-weight: 300;
  margin: 0.5em 0.25em;
}

/* Section titles (left column) */
h2 {
  font-size: 1.125em;
  font-weight: 700;
  float: left;
  width: 20%;
  margin: 0.5em 0 0 0;
  padding-left: 1em;
}

h3 {
  font-size: 1em;
  font-weight: bold;
  margin: 0.5em 0 0 0;
}

li {
  font-size: 1em;
  margin: 0.25em 0;
}

p {
  margin: 0.25em 0;
}

.head {
  padding: 1em;
}

.head .name {
  margin: 0.5em 0;
}

.phone {
  margin-left: 2em;
}

.avatar {
  width: 5em;
  height: 5em;
  border-radius: 50%;
  float: right;
  margin: 0.5em 2em;
  overflow: hidden;
}

.avatar img {
  position: relative;
  top: -0.5em;
  width: 100%;
  height: auto;
}

/* Right column blocks */
.r {
  float: right;
  width: 80%;
}

.meta {
  width: 80%;
  display: flex;
  align-items: center;
  margin: 0.5em 0;
}

.emph {
  font-weight: bold;
  flex: 1;
}

.paragraph-head {
  margin: 0.25em 0;
}

.desc {
  color: #444;
}

.light {
  color: #aaa;
  letter-spacing: 1px;
  text-transform: uppercase;
}

ul {
  margin: 0;
  padding-left: 1.5em;
}

ul.skills {
  float: left;
  width: 40%;
  padding: 0;
  list-style: none;
}

ul.skills li {
  margin-bottom: 0.625em;
}

a {
  color: #ba0018;
  display: inline-block;
  text-decoration: none;
  padding: 0.125em 0.25em;
  border-radius: 2px;
}
a:hover {
  background-color: #ba0018;
  color: #fff;
}

/*
 Print Rules
*/
@page {
  size: A4;
  margin: 0;
  padding: 1cm;
}

@media print {
  body {
    margin: 0;
  }
}
